
// Colors

$primary-red: hsl(0, 78%, 62%);
$primary-cyan:hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);


$dark-blue: hsl(234, 12%, 34%);
$gray-blue: hsl(229, 6%, 66%);
$ligth-gray: hsl(0, 0%, 98%);

// font-sizes
$title: 25px;
$subtitle: 20px;
$content: 15px;

// font-styles
$font: 'Poppins', sans-serif;
$weight-bg: 600;
$weight-md: 400;
$weight-sm: 200;

// margin-padding
$mg-bg: 1.5rem;
$mg-md: 1rem;
$mg-sm: 0.5rem;


$pd: 0.5rem;


// borders
$border-bg: 2.5px;
$border-md: 1px;
$border-sm: 0.5px;

// debuger
$debug-border: 1px solid red;